.container{
    text-align: center;
    border:solid 5px blue;
    border-radius: 50px;
}
.container h1{
    text-align: center;
    color:red;
}
.container p{
    text-align: center;
    color:green;
}