h1,h2{
    text-align: center;
    font-size: 50px;
}
h2{
    color:yellow;
    font-size:30px;
}
nav{
    border:solid 5px green;
    border-radius: solid 5px blue;
   

}
a{
    color:black;
}
.label {
    display: block;
    justify-content: flex-start;
    color: rgb(197, 53, 108);
}    
body{
    background-color: rgb(39, 80, 90);
}